  h1 {
    position: relative;
    padding: 1rem .5rem;
  }
  
  h1:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#2af598), to(#009efd));
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #ff6347, #ffcc00);
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  
  .question {
    background-color: white;
    margin: 1rem auto 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    max-width: 900px; /* 最大幅を設定 */
  }
  
  h2 {
    color: #333;
  }
  
  .choice {
    background-color: #009efd;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .choice:hover {
    background-color: #2af598;
  }
  
  .result {
    color: green;
    margin-top: 10px;
  }
  
  /* レスポンシブデザイン */
  @media (max-width: 600px) {
    .choice {
      width: 100%;
      box-sizing: border-box;
    }
  }
  
  .choice:active, .choice.selected {
    /* 選択された選択肢のスタイルを保持 */
    background-color: #2af598;
    color: white;
  }

  .correct {
    color: green;
    font-weight: bold;
  }
  
  .incorrect {
    color: red;
    font-weight: bold;
  }
  
